@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h2>Sellers</h2>
<p>Sellers Index Page </p>

<h3> Teste novo cabeçalho</h3>
<p>Sellers Index Page Cabeção 2</p>